.users-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-box-user {
  flex-basis: 100px;
  flex-grow: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.users-box-user a {
  color: #fff;
  text-decoration: none;
}

.users-box-user-bg0 {
  background-color: #d00000;
}

.users-box-user-bg1 {
  background-color: #03071e;
}

.users-box-user-bg2 {
  background-color: #ffba08;
}

.users-box-user-bg3 {
  background-color: #6a040f;
}

.users-box-user-bg4 {
  background-color: #f48c06;
}

.user-box {
  align-items: center;
  background-color: #f48c06;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-messages-img {
  width: 300px;
  height: auto;
}
